body {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f5;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  padding: 10px 20px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #5a6268;
}

#fileName {
  font-size: 14px;
  color: #555;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#loading {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.video-container {
  width: 100%;
  max-width: 320px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

video {
  width: 100%;
  border-radius: 5px;
}

.bar-container {
  width: 100%;
  margin-top: 20px;
}

.possession-bar,
.passes-bar {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.bar {
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team1 {
  background-color: rgba(75, 192, 192, 0.7);
}

.team2 {
  background-color: rgba(153, 102, 255, 0.7);
}

.heatmaps {
  margin-top: 20px;
  text-align: center; 
}

.heatmap-container {
  display: inline-block; 
  margin: 20px; 
  text-align: center; 
}

.heatmap-container img {
  max-width: 100%; 
  height: auto; 
  border: 2px solid #ccc;
  border-radius: 8px;
}

#heatmapTeam1 {
  width: 500px;
  height: auto;
}

#heatmapTeam2 {
  width: 500px;
  height: auto;
}
